<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>about our Home page</title>
</head>
<body>
  <div class="container" style="text-align: center;">
  {% include "navbar.html" %}

    <h1>welcome to our website </h1>
    <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nesciunt rerum praesentium earum illum obcaecati molestias autem blanditiis possimus expedita ullam voluptatibus iure a quam odit numquam perspiciatis sed recusandae dignissimos laboriosam esse maxime, enim optio quidem! Harum, soluta! Aliquid, quaerat.</p>
    <button> Contact us </button>

    {% comment %} acessing dynamic value {% endcomment %}
    
    <h2> Today Date is:{{date}}
    </h2>
  <h1>
    Username is: {{name}}
  </h1>
  <hr>
  <h1> Student Data </h1>
  <h2> Student name: {{student_data.student_name}}</h2>
  <h2> Student college : {{student_data.student_college}}</h2>
  <h2> Student City : {{student_data.student_city}}</h2>
 </hr>
  </div>
</body>
</html>